html {
    background-image: url(../images/1000x600_EPICMUSIC2018-web-optimised-1000.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Bangers', cursive;
}