html {
    background-image: url(../images/1000x600_EPICMUSIC2018-web-optimised-1000.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Bangers', cursive;
    font-size: 20px;
    color: white;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.vide {
    height: 90vh;
}

footer {
    display: flex;
    flex-direction: row;
}

nav ul,
li a {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    text-decoration: none;
    color: white;

}

.icons {
    float: right;
    color: white;
}
